<div data-controller="dropdown" data-dropdown-hidden-class="hidden" class="relative inline-block text-left">
  <% if trigger? %>
    <div data-action="click->dropdown#toggle">
      <%= trigger %>
    </div>
  <% end %>

  <div data-dropdown-target="menu"
       class="<%= menu_classes %> focus:outline-none"
       role="menu"
       aria-orientation="vertical">
    <div class="py-1" role="none">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </div>
  </div>
</div>
